
* {
   box-sizing: border-box;
}

form {
   box-shadow: 10px 5px 35px black;
   background: rgb(255, 255, 255);
   margin: 50px;
   padding: 50px;
   border-radius: 25px;
}

label {
   height: 40px;
   font-size: 25px; 
   margin-right: 10px;
   font-weight: bold;
}

input {
   height: 40px;
   outline: none;
   border: none;
   border-bottom: 2px solid black;
   width: 100%;
   font-size: 25px;
   margin-top: 10px;
   margin-bottom: 20px;
}

textarea {
   height: 280px;
   outline: none;
   border: none;
   border: 2px solid black;
   width: 100%;
   font-size: 25px;
   margin-top: 10px;
   margin-bottom: 20px;
   resize: none;
}

.buttons {
   display: flex;
   width: 100%;
   justify-content: space-between;
}
button {
   width: calc(50% - 10px);
   height: 50px;
   border: none;
   font-size: 25px;
   color: white;
}

button:hover {
   cursor: pointer;
}

.send {
   background: rgb(0, 0, 0);
}

.abort {
   background: rgb(0, 0, 0);
}

 